@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: white;
}

.font-brush {
    font-family: "Ma Shan Zheng", cursive;
}

.font-serif-sc {
    font-family: "Noto Serif SC", serif;
}
